body
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    height: 100svh;
}

#content
{
    display: flex;
    flex-direction: row;
    flex: 1;
}

#sidebar
{
    width: 20%;
    border-style: none solid none none;
    border-width: 1px;
}

#sidebar player-card
{
    width: 100%;
}

#game-canvas
{
    background-color: green;
    width: 10px;
    height: 10px;
}

footer
{
    display: flex;
    column-gap: 20px;
}
