<link rel="stylesheet" href="/static/game-page.css">
<header>
    <h1 class="ttt-title title"><span>Tic</span><span>Tac</span><span>Toe</span></h1>
</header>
<div id="content">
    <aside id="player-cards-container">
    </aside>
    <div id="game-canvas-container">
        <canvas id="game-canvas"></canvas>
        <div id="player-data-form">
            <div class="field">
                <label for="player-data-name-input">Name</label>
                <input id="player-data-name-input" class="text-field" type="text">
            </div>
            <div class="field">
                <label for="player-data-color-input">Color</label>
                <input id="player-data-color-input" type="color">
            </div>
            <div class="field">
                <label for="player-data-symbol-input">Symbol</label>
                <canvas id="player-data-symbol-input"></canvas>
            </div>
            <button id="player-ready-button" class="button">Ready</button>
            <p id="player-ready-indicator"></p>
        </div>
    </div>
</div>

<template id="player-card-template">
    <div class="player-card">
        <h2 class="player-name"></h2>
        <canvas class="player-symbol-canvas"></canvas>
    </div>
</template>
