<link rel="stylesheet" href="/tictactoe/static/home-page.css">
<h1 class="ttt-title title"><span>Tic</span><span>Tac</span><span>Toe</span></h1>

<div id="join-game-container">
    <input id="game-code-input" maxlength="4" type="text" size="4" placeholder="code" class="text-field">
    <button id="join-game-button" class="button">
        Join game
        <span class="material-symbols-outlined">stadia_controller</span>
    </button>
</div>
<h4>or</h4>
<button id="join-random-game-button" class="button">
    Join random game
    <span class="material-symbols-outlined">casino</span>
</button>
<h4>or</h4>
<button id="create-game-button" class="button">
    New game
    <span class="material-symbols-outlined">add</span>
</button>
