<link rel="stylesheet" href="/static/home-page.css">
<div id="home-page">
    <h1 class="ttt-title title"><span>Tic</span><span>Tac</span><span>Toe</span></h1>

    <form id="join-game-form" action="/join-game" method="get">
        <input id="code-input" maxlength="6" type="text" size="6" placeholder="code" class="text-field">
        <input id="join-game-button" type="submit" class="button" value="Join game">
    </form>
    <h4>or</h4>
    <a href="new-game.html" class="button">
        New game
        <span class="material-symbols-outlined">stadia_controller</span>
    </a>

</div>
